body{
    background-color: #FFF9FB;
    overflow-x : hidden;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
}




.contactme{
    text-align: right;
    position: relative;
    right: 20px;
    top: 20px;
    
}


.name{
    font-size: 150px;
    font-family: 'Euphoria Script', cursive;
    text-align: center;
    padding-top: 60px;
}



.title{
    font-size: 20px;
    font-weight: 400;
    font-style: bold;
    text-align: center;
}


.navbar{
    justify-content: center;
    
}


a{
    color: indianred;
    font-size: 20px;
    font-style: bold;
    font-weight: 500;
    
   
}


a:hover{
    color: lightslategray;
}


.about{
    font-size: 2em;

}


.portfolio{
    font-size: 2em;
}


.contact{
    font-size: 2em;
}

h5{
    width: 100%;
}

button{
    color: darkslategrey;
}

.footer{
   position: relative;
   left: 3em;
   top: 7em;
}

.modal-title{
    color: indianred;
}

img {
    max-width:100%;
    height:auto;
    max-height:100%;
 }

 .git:hover{
    border-color: grey;
 }

 